:root {
  --page-margin: 6.75rem;
}

* {
  box-sizing: border-box;
  text-wrap: pretty;
}

html {
  font-family: Urbanist, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  align-items: center;
}

main {
  flex: 1;
}

header {
  width: 100%;
  color: #3e3e3e;

  a {
    color: #3e3e3e;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: #3e3e3e;

  a {
    color: #d1d1d1;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #3e3e3e;
}

.subheader {
  font-size: 1.25rem;
  font-weight: 700;
}

.about {
  background-color: #ebf7ff;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  gap: 0.625rem;

  li {
    list-style-type: none;
  }
}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;

  &.active {
    text-underline-offset: 0.25rem;
    text-decoration-line: underline;
    text-decoration-thickness: 0.125rem;
    text-decoration-color: #926b6a;
    text-underline-offset: 0.25rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #7fb3d5;
  color: #000000;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.accent-text {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.hero-section {
  max-width: 100vw;
  padding: 0 var(--page-margin);
  overflow: hidden;
}

.hero-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.hero-image {
  width: 50vw;
}

.hero-title {
  font-size: 3.125rem;
  margin: 1rem 0;
}

.hero-text {
  font-size: 1.5rem;
  margin: 0;
}

.hero-arrow {
  margin: 1rem 4rem 0 4rem;
}

.about-section {
  background-color: #ffffff;
  padding: 2rem var(--page-margin);
}

.about-images {
  width: 50vw;
  flex-shrink: 0;
  min-width: 525px;
  display: flex;
  justify-content: end;
}

.image-container {
  position: relative;
  width: 525px;
  height: 450px;
}

.about-img-left {
  position: absolute;
  top: calc(165px);
  left: 1rem;
  width: 50%;
  border-radius: 0.75rem;
}

.about-img-right {
  position: absolute;
  top: 1.5rem;
  right: 5rem;
  width: 50%;
  border-radius: 0.75rem;
}

.quotes-section {
  background-color: #fef2e7;
  padding: 2rem var(--page-margin);
  width: 100vw;
}

.quotes-header {
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.quote-container img {
  align-self: flex-end;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 1rem;
}

.slider {
  width: 100%;
  overflow: visible;
}

.slides {
  display: flex;
  padding: 2rem;
  /* justify-content: center; */

  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides:hover {
  overflow-x: scroll;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 15rem;
  height: 15rem;
  margin-right: 50px;
  border-radius: 12px;
  background: #eee1d8;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  align-items: center;
  padding: 0px 24px 10px 24px;
}

.book {
  background-color: #fcf4f4;
}

.about-book {
  display: flex;
  margin-right: var(--page-margin);
  padding-bottom: 1rem;

  img {
    flex-shrink: 0;
    width: 657px;
    height: 694px;
  }
}

.book-description {
  max-width: 43.75rem;
}

.book-auditory {
  background-color: #ebf7ff;
  padding: 1rem var(--page-margin);
}

.book-auditory-description {
  display: flex;
  justify-content: space-between;

  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
  }
}

.book-auditory-description div {
  flex-grow: 1;
  width: 50%;
}

.book-arrow-top {
  position: relative;
  left: -2rem;
  justify-self: center;
}

.accent {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #d7e9f5;
  font-weight: 700;
}

.book-teaches {
  background-color: #fff;
  padding: 1rem var(--page-margin);
}

.book-cards {
  display: flex;
  justify-content: center;
  gap: 5rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.book-quote {
  background-color: #fef2e7;
  padding: 2rem var(--page-margin);
  display: flex;
  justify-content: center;
}

.book-quote > div {
  max-width: 50rem;
}

.book-quote img {
  margin-top: 1rem;
}

.book-takeaways {
  display: flex;
  background-color: #fff;
  padding: 2rem var(--page-margin);
  align-items: center;
  gap: 2rem;

  div {
    flex-basis: 50%;
  }
}

.book-takeaway-left {
  display: flex;
  flex-direction: column;
  align-items: end;

  img {
    position: relative;
    top: -3rem;
  }

  h2 {
    margin-right: 6rem;
  }
}

.book-takeaways-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    div {
      background-color: #ebf7ff;
      padding: 1rem 1.5rem;
      margin: 1rem 0.5rem;
      display: inline-block;
      border-radius: 6px;
      max-width: 18rem;
    }
  }
}

.book-takeaways-header {
  max-width: 18rem;
}

.author-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.meditation {
  background-color: #fef2e7;
}

.meditation-hero {
  display: flex;
  margin-right: var(--page-margin);
  padding-bottom: 0;

  img {
    flex-shrink: 0;
    width: 803px;
    height: 506px;
  }
}

.meditation-description {
  margin-left: -5rem;
  align-self: center;
}

.meditation-arrow {
  vertical-align: top;
  padding-top: 1rem;
  padding-left: 2rem;
}

.meditation-cards {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem var(--page-margin);
}

.meditation-cards ol {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.meditation-cards li {
  display: block;
  padding: 1rem;
  background-color: #ebf7ff;
  max-width: 24.5rem;
  flex-grow: 1;
  flex-basis: 30%;
  border-radius: 12px;

  p:first-child {
    font-weight: 900;
    font-size: 3.75rem;
    margin: 2rem 0;
    color: #d0e2ee;
  }
}

.visualization {
  background-color: #fef8e7;
}

.visualization-cards {
  display: flex;
  padding: 3rem var(--page-margin);
  background-color: #fff;
  gap: 1rem;
}

.visualization-card {
  border-radius: 12px;
  background-color: #f1f1ff;
  flex-basis: 50%;
  padding: 1rem;

  p:first-child {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 2rem 0;
    color: #3e3e3e;
  }
}

.visualization-bottom {
  background-color: #fcf4f4;
  padding: 3rem var(--page-margin);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  p {
    max-width: 42rem;
  }

  p:first-child {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.healing {
  background-color: #f1f1ff;
}

.healing-basis {
  display: flex;
  padding: 3rem var(--page-margin);
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  p {
    max-width: 42rem;
  }

  p:first-child {
    font-weight: 600;
    font-size: 1.5rem;
  }

  a {
    font-weight: 700;
  }
}

.healing-about {
  background-color: #fef2e7;
  padding: 2rem var(--page-margin);
  display: flex;
  gap: 5rem;
}

.healing-about-left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;

  p:first-child {
    font-weight: 700;
    font-size: 1.25rem;
  }

  img {
    align-self: flex-end;
    position: relative;
    top: -2rem;
    left: 2rem;
  }
}

.healing-about-right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    display: block;
    background-color: #eee1d8;
    padding: 1rem;
  }
}

.contact {
  background-color: #ebf7ff;

  main {
    display: flex;
    padding: 2rem var(--page-margin);
    gap: 3rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  img {
    max-width: 4.5rem;
    align-self: end;
    position: relative;
    top: -2rem;
  }
}

.contact-form-container {
  border: #d0e2ee solid 6px;
  border-radius: 28px;
  padding: 0.5rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem 1rem;
    border-radius: 20px;
  }

  label {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 1rem;
  }

  input {
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    border: solid 1px #c1c1c1;
  }

  textarea {
    border-radius: 4px;
    border: none;
    border: solid 1px #c1c1c1;
  }

  button {
    border: none;
    width: fit-content;
    margin-top: 1rem;
  }
}

.contact > main > div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Utility classes */
.flex {
  display: flex;
}

.center {
  text-align: center;
}

.m-0 {
  margin: 0;
}
